html,
body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background-image: url("../assets/tile.jpg");
}

header.main-header {
    text-align: center;
    margin: 20px;
}

.form-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 50px;
}

.form-container {
    height: 200px;
    width: 7000px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/formbg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.form-box {
    height: 50px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
}



.notesImageContainer {
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    justify-content: left;

    align-items: center;
    margin-left: 50px;
    flex-direction: row;

}



div>.box {
    height: 300px;
    width: 300px;
    background-image: url("../assets/notebg.png");
    background-repeat: no-repeat;
    opacity: 1;
    animation: fadeIn 1s ease-in;
}

.box-inner-container {
    width: 175px;
    height: 200px;
    overflow-y: auto;
    font-size: 12px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: left;
    margin-left: 0;
    justify-content: left;
}

.box:nth-child(1) {
    animation: fadeIn 0.5s ease-in-out forwards;
}


.box:nth-child(2) {
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.box:nth-child(3) {
    animation: fadeIn 0.5s ease-in-out 1s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.box.image3 {
    position: relative;
}

.TaskElseOutput {
    color: blue;
}

/* 
@media (max-width: 750px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .imageContainer {
      margin-left: 0;
    }
  
    .box.image3 .dateAndTimeContainer {
      margin-right: 0;
      margin-bottom: 20px; 
    }
  }
   */
