html,
body {
    margin: 0;
    padding: 0;
    height: 200vh;
    background-image: url("../assets/tile.jpg");
}

header.main-header {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* form styling */
.form-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 100px;
}

/* form styling */
.form-container {
    height: 150px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 150px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/formbg.jpg);
    background-repeat: repeat-y;
}

/* form styling */
.form-box {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10%;

}

/* tasks styling */
.notesImageContainer {
    display: flex;
    flex-wrap: wrap;
    height: auto; 
    max-width: 750px; 
    gap: 10px;
    justify-content: flex-start; 
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

/* tasks styling */
.task {
    width: 175px;
    height: 200px;
    padding: 20px;
    padding-right: 30px;
    text-align: left;
    margin-bottom: 10px; 
}

/* tasks styling */
div>.box {
    height: 300px;
    width: 200px;
    background-image: url("../assets/notebg.png");
    background-repeat: no-repeat;
    opacity: 1;
    animation: fadeIn 1s ease-in;
}

/* tasks styling */
.box-inner-container {
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
    justify-content: center;
    display: inline-block;
}


/* tasks styling */
.TaskElseOutput {
    margin-bottom: 0px;
    width: 150px;
    padding-top: 40px;

}

/* tasks styling */
.textOutput {
    max-height: 80px;
    max-width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-right: 10px;
    margin-left: 0px;
}

/* tasks styling */
.task-checkbox {
    padding-right: 10px;
    justify-content: left;
}

/* container for glyphicon and checkbox */
.btn-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-container {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

.checkbox-container {
    margin-right: auto;
}

/* adds styles to all buttons in file */
.button-style {
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    background-size: cover;
}


.glyphicon-location {
    margin-left: auto;
}

/* glyphicon  will appear when hover over the note*/
.btn-default {
    display: none;
}

.box:hover .btn-default {
    display: inline-block;
}


/* fade in animation to the tasks one by one */
.box:nth-child(1) {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.box:nth-child(2) {
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.box:nth-child(3) {
    animation: fadeIn 0.5s ease-in-out 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* media query for small screens */
@media (max-width: 750px) {
    .form-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        padding-left: 150px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 8px;
    }
    .form-container {
        height: 100px;
        width: 450px;
        margin-left: 80px;
    }
    
    .form-box {
        width: 150px;
        height: 35px;
        background-color: rgba(195, 212, 246, 0.9);
        border-radius: 10%;
    
    }
    .notesImageContainer {
        gap: 10px;
        margin-left: 10px;
    }

    .task {
        padding: 20px;
        padding-right: 30px;
    }

    div>.box {
        height: 300px;
        width: 150px;
    }

    .TaskElseOutput {
        width: auto;
        padding-top: 50px;
    }

    .textOutput {
        max-height: 60px;
        width: 100px;
        margin-right: 10px;
 
    }

    .btn-container {
        margin-top: 100px;
    }
    .glyphicon-location {
        margin-left: auto;
    }

    .btn-default {
        display: none;
    }
    
    .box:hover .btn-default {
        display: inline-block;
    }
    
}